oracle/web_app/__pycache__/
amm/web_app/__pycache__/
amm/web_app/.idea
/.ipynb_checkpoints
/miner/logs
/.idea/
/.vscode/
plan
.vscode/settings.json
monitor/web_app/__pycache__/__init__.cpython-311.pyc
monitor/web_app/__pycache__/ammAdapter.cpython-311.pyc
amm/__pycache__/ammDefinition.cpython-311.pyc
*.csv