{% extends "layout.html" %}
{% block content %}
<div class="content-container">
    <div class="charts-column">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <canvas id="canvas"></canvas>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <canvas id="canvas2"></canvas>
                </div>
            </div>
        </div>
<!--        <textarea id="log-window" rows="7" cols="30"></textarea>-->
    </div>

    <div class="oracle-container">
        <div class="oracle-table">
            <div class="oracle-table-header-container">
                <div class="oracle-table-header">
                    <div data-bn-type="text" class="bigger-text">Kolekcje</div>
                    <div data-bn-type="text" class="bigger-text">Wolumen</div>
                    <div data-bn-type="text" class="bigger-text">Cena Minimalna</div>
                </div>
            </div>
            <div class="oracle-table-content-container">
                {% for changeEntry in changes %}
                <div class="oracle-table-row">
                    <div class="oracle-table-cell-container">
                        <div class="oracle-table-row-cell">
<!--                            <div class="medium-text">Rekt Dogs</div>-->
                            <div class="medium-text">{{ changeEntry.currency }}</div>
                        </div>
                    </div>
                    <div class="oracle-table-cell-container">
                        <div class="oracle-table-row-cell-percentage">
<!--                            <div class="medium-text">116.86 ETH</div>-->
                            <div class="medium-text">{{ changeEntry.volumen }}</div>
                            {% if changeEntry.volumenChange >= 0 %}
                                <div class="green-percentage">+{{ changeEntry.volumenChange }}%</div>
                            {% else %}
                                <div class="red-percentage">{{ changeEntry.volumenChange }}%</div>
                            {% endif %}
                            <!--                            <div class="green-percentage">+18.51%</div>-->
                        </div>
                    </div>
                    <div class="oracle-table-cell-container">
                        <div class="oracle-table-row-cell-percentage">
<!--                            <div class="medium-text">18.3K ETH</div>-->
                            <div class="medium-text">{{ changeEntry.futurePrice }}</div>
                            {% if changeEntry.change >= 0 %}
                                <div class="green-percentage">+{{ changeEntry.change }}%</div>
                            {% else %}
                                <div class="red-percentage">{{ changeEntry.change }}%</div>
                            {% endif %}
<!--                            <div class="green-percentage">+348.99%</div>-->
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
<script>
    function randomColor() {
            var r = Math.floor(Math.random() * 255);
            var g = Math.floor(Math.random() * 255);
            var b = Math.floor(Math.random() * 255);
            return "rgb(" + r + "," + g + "," + b + ")";
         };
</script>
<script>
    $(document).ready(function () {
        const config = {
            type: 'line',
            data: {
                labels: Array(250).fill("00:00:00"),
                datasets: [
                    {
                        label: "BTC",
                        backgroundColor: 'rgb(255, 0, 85)',
                        borderColor: 'rgb(255, 0, 85)',
                        data: Array(250).fill(null),
                        fill: false,
                        tension: 0.1,
                        pointRadius: 0
                    },
                    {
                        label: "ETH",
                        backgroundColor: 'rgb(0, 0, 255)',
                        borderColor: 'rgb(0, 0, 255)',
                        data: Array(250).fill(null),
                        fill: false,
                        tension: 0.1,
                        pointRadius: 0
                    }
                ],
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Value Real-Time chart'
                },
                tooltips: { enabled: false },
                hover: { mode: null },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Time'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Value'
                        }
                    }]
                }
            }
        };

        const config2 = {
            type: 'line',
            data: {
                labels: Array(250).fill("00:00:00"),
                datasets: [],
            },
            options: {
                legend: {
                    display: true
                },
                responsive: true,
                title: {
                    display: true,
                    text: 'Value Real-Time price chart'
                },
                tooltips: { enabled: false },
                hover: { mode: null },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Time'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Value'
                        }
                    }]
                }
            }
        };

        const context2 = document.getElementById('canvas2').getContext('2d');
        const context = document.getElementById('canvas').getContext('2d');

        const lineChart = new Chart(context, config);
        const lineChart2 = new Chart(context2, config2);

        const source = new EventSource("/chart-data");

        source.onmessage = function (event) {
            const data = JSON.parse(event.data);
            // console.log(data)

            data.prices.forEach((currency, index, arr) => {
                const datasetIndex = config2.data.datasets.findIndex(object => object.label === currency.symbol);
                if (datasetIndex === -1) {
                    // 273
                    config2.data.datasets.push(
                        {
                            label: currency.symbol,
                            data: Array(250).fill(null),
                            borderColor: randomColor(),
                            backgroundColor: 'rgb(255, 0, 85)',
                            fill: false,
                            tension: 0.1,
                            pointRadius: 0,
                            hidden: false
                        }
                    );
                } else {
                    config2.data.datasets[datasetIndex].data.push(currency.price)
                }
                if (index > 10){
                    arr.length = index + 1;
                }
            })

            if (config.data.labels.length === 250) {
                config.data.labels.shift();
                config.data.datasets[0].data.shift();
                config.data.datasets[1].data.shift();

                config2.data.labels.shift();
                config2.data.datasets.forEach(dataset => {dataset.data.shift();})
            }

            config.data.labels.push(data.time);
            config.data.datasets[0].data.push(data.amounts.BTC);
            config.data.datasets[1].data.push(data.amounts.ETH);

            config2.data.labels.push(data.time);
            // config2.data.datasets[0].data.push(data.rates.ETH);
            // config2.data.datasets[1].data.push(data.rates.BTC);
            lineChart.update();
            lineChart2.update();

            //let logWindow = document.getElementById('log-window');
            //logWindow.innerHTML = data.transactions + '\n';
        }
    });
</script>
<!--<script>-->
<!--    const source = new EventSource("/changes-data");-->
<!--    source.onmessage = function (event) {-->
<!--            const data = JSON.parse(event.data);-->
<!--            // console.log(data)-->

<!--            data.prices.forEach((currency, index, arr) => {-->
<!--                const datasetIndex = config2.data.datasets.findIndex(object => object.label === currency.symbol);-->
<!--                if (datasetIndex === -1) {-->


<!--                } else {-->
<!--                    config2.data.datasets[datasetIndex].data.push(currency.price)-->
<!--                }-->
<!--                if (index > 10){-->
<!--                    arr.length = index + 1;-->
<!--                }-->
<!--            })-->

<!--            if (config.data.labels.length === 250) {-->
<!--                config.data.labels.shift();-->
<!--                config.data.datasets[0].data.shift();-->
<!--                config.data.datasets[1].data.shift();-->

<!--                config2.data.labels.shift();-->
<!--                config2.data.datasets.forEach(dataset => {dataset.data.shift();})-->
<!--            }-->
<!--        }-->
<!--</script>-->
{% endblock content %}